<div class="log-in-container">
  <%= form_for(resource, as: resource_name, class:"ui form", url: registration_path(resource_name)) do |f| %>
    <%= image_tag("logo.png", :alt => "Logo",class:"logo") %>
    
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="field">
      <%= f.text_field :first_name, autofocus: true, class: "input", placeholder: "First Name" %>
    </div>

    <div class="field">
      <%= f.text_field :last_name, class: "input", placeholder: "Last Name" %>
    </div>

    <div class="field">
      <%= f.email_field :email, autocomplete: "email", class: "input", placeholder: "Email" %>
    </div>

    <div class="field">
      <%= f.password_field :password, autocomplete: "new-password", class: "input", placeholder: "Password"  %>
    </div>

    <div class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input", placeholder: "Confirm"  %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class:"submit" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>

</div>

