<div class="ui container body-container">

<% if @patient.errors.any? %>
  <div>
    <ol style="color:red;font-size:20px;font-style:italic;">
      <% @patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  </div>
<% end %>

  <h1>Edit Patient</h1>
  <hr />
  <%= form_with(model: @patient, local: true, class: "ui form") do |f| %>
    <div class="field">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, autofocus: true, placeholder: "First Name" %>
    </div>
    <div class="field">
      <%= f.label :last_name %>
      <%= f.text_field :last_name,  placeholder: "Last Name" %>
    </div>
    <div class="field">
      <%= f.label "Date of Birth" %>
      <%= f.date_field :dob,  placeholder: "D.O.B." %>
    </div>
    <div class="field">
      <%= f.label :sex %>
      <%= f.select :sex, ["Male", "Female"] %>
    </div> 
    <div class="field">
      <%= f.label :phone %>
      <%= f.phone_field :phone, placeholder: "Phone"%>
    </div>
    <div class="field">
      <%= f.label :street %>
      <%= f.text_field :street, placeholder: "Street"%>
    </div>
    <div class="field">
      <%= f.label :city %>
      <%= f.text_field :city, placeholder: "City"%>
    </div>
    <div class="field">
      <%= f.label :state %>
      <%= f.select :state, ['AL','AK','AZ','AR','CA','CO','CT','DE','FL','GA','HI','ID','IL','IA','KS','KY','LA','ME','MD','MA','MI','MN','MS','MO','MT','NE','NV','NH','NJ','NM','NY','NC','ND','OH','OK','OR','PA','RI','SC','SD','TN','UT','VT','VA','WA','WV','WI','WY'],  placeholder: "State"%>
    </div>
    <div class="field">
      <%= f.label :zip %>
      <%= f.number_field :zip,  placeholder: "Zip"%>
    </div>
    <div class="field">
      <%= f.label :language %>
      <%= f.select :language, ["English", "Chinese", "Spanish", "French", "Arabic", "Japanese", "Other" ],required: true, placeholder: "Preferred Language" %>
    </div>
    <%= f.submit nil, class: "ui green button inverted" %>
  <% end %>
</div>



