<div class="ui container body-container">
<h1><%= @patient.full_name%></h1>
<h2 class="ui center aligned blue header">Patient Information</h2>
<table class="ui definition table user-info selectable">
<tr>
    <td>First Name:</td>
    <td><%= @patient.first_name %></td>
</tr>
<tr>
    <td>Last Name:</td>
    <td><%= @patient.last_name %></td>
</tr>
<tr>
    <td>Age:</td>
    <td><%= @patient.age %></td>
</tr>
<tr>
    <td>Date of Birth:</td>
    <td><%= @patient.dob.strftime('%m / %d / %Y') %></td>
</tr>
<tr>
    <td>Sex:</td>
    <td><%= @patient.sex %></td>
</tr>
<tr>
    <td>Phone:</td>
    <td><%= @patient.phone %></td>
</tr>
<tr>
    <td>Street:</td>
    <td><%= @patient.street %></td>
</tr>
<tr>
    <td>City:</td>
    <td><%= @patient.city %></td>
</tr>
<tr>
    <td>State:</td>
    <td><%= @patient.state %></td>
</tr>
<tr>
    <td>Zip:</td>
    <td><%= @patient.zip %></td>
</tr>
<tr>
    <td>Preffered Language:</td>
    <td><%= @patient.language %></td>
</tr>
<tr>
    <td>Update Patient:</td>
    <td><%= button_to 'Update', edit_patient_path(@patient), method: 'get', class:"ui button blue inverted"%></td>
</tr>
<tr>
    <td>Remove Patient:</td>
    <td><%= button_to 'Delete', {:controller => :patients, :action => 'destroy', :id => @patient }, :method => :delete, class:"ui button red inverted" %></td>
</tr>
</table>
<br />
<br />

<h2 class="ui center aligned blue header"><%= @patient.full_name%> <%= @patient.last_name[-1] == 's' ? "'  Scheduled Appointments" : "\'s Scheduled Appointments"%></h2>

    <table class="ui table striped selectable">
        <thead>
            <tr>
                <th>Doctor Name</th>
                <th>Specialty</th>
                <th>Doctor Phone</th>
                <th>Date</th>
                <th>Time</th></th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
            <% @appointments.each_with_index do |appt,i| %>
                <tr>
                    <td><%= link_to appt.doctor.name, doctor_appointments_path(appt.doctor),class:"ui button blue inverted" %></td>
                    <td><%= appt.doctor.specialty %></td>
                    <td><%= appt.doctor.phone %></td>
                    <td><%= appt.date.strftime('%a, %b %d, %Y') %></td>
                    <td><%= appt.time.strftime("%l:%M %p") %></td>
                    <td><%= button_to 'Remove', doctor_appointment_path(appt.doctor_id, appt.id), method: :delete, class:"ui button red inverted" %></td>
                </tr>
            <% end %>
        </tbody>
    </table>


<div class="notes-container">
    <h2 class="ui center aligned blue header"><%= @patient.full_name%> <%= @patient.last_name[-1] == 's' ? "'  Doctor Notes" : "\'s Doctor Notes"%></h2>
    <p><%= @notes.length <= 0 ? "No patient notes found": ""%></p>
    
    <% @notes.each do |note|  %>
        <div class="note">
            <p class="message-body"><%= note.message %></p>
            <div class="poster-info">
                <%= note.user.full_name %>
                <br />
                <%= note.created_at.strftime("%b %d, %Y") %>
                <br />
                <%= note.created_at.in_time_zone("Central Time (US & Canada)").strftime("%l:%M %p") %>
            </div>
            <div class="note-actions">
                <%= link_to edit_patient_note_path(note.patient_id, note), :edit => 'go' do %>
                    <i class="edit outline icon"></i>
                <% end %>
                <%= button_to patient_note_path(note.patient, note), method: :delete do %>
                    <i class="trash alternate icon trash"></i>
                <% end %>
                
            </div>
            
        </div>
    <% end %>
    <%= link_to "Add Note", new_patient_note_path(@patient), class:"ui button blue" %>
    
</div>  
</div>



