
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2000">

  <div class="carousel-inner">
    <div class="carousel-item active">
        <%= image_tag("slide.jpg", :alt => "First Slide",class:"d-block w-100") %>
    </div>
    <div class="carousel-item">
        <%= image_tag("slide1.jpg", :alt => "Second Slide",class:"d-block w-100") %>
    </div>
    <div class="carousel-item">
        <%= image_tag("slide2.jpg", :alt => "Third Slide",class:"d-block w-100") %>
    </div>
    <div class="carousel-item">
        <%= image_tag("slide3.jpg", :alt => "Fourth Slide",class:"d-block w-100") %>
    </div>
    <div class="carousel-item">
        <%= image_tag("slide4.jpeg", :alt => "Five Slide",class:"d-block w-100") %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>