<div class="ui container body-container">

<% if @appointment.errors.any? %>
  <div>
    <ol style="color:red;font-size:20px;font-style:italic;">
      <% @appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ol>
  </div>
<% end %>

<% if error.present? %>
    <p class="alert alert-danger"><%= error %></p>
<% end %>

<h1>Edit Appointment</h1>
<%= form_with(model: [@doctor, @appointment], local: true, class: "ui form" ) do |f| %>
  
  
  <%= f.label :date %>
  <%= f.date_field :date %>
  <br />
  <%= f.label :time %>
  <%= f.select "time", (9..20).to_a %>
  <br />
  <br />
  <%= f.submit nil, class: "ui green button inverted" %>
<% end %>
</div>